@import "icomoon.less";
@import "fonts.less";

// sections
@import "hi.less";
@import "terminal.less";
@import "god.less";
@import "websites.less";

.section.convert {
  background-color: #5C4033;
  text-align: center;

  p {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;

    color: #FFFFFF;
  }
}

.section.calltoaction {
  background-color: #BE2625;
  text-align: center;

  p {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 5rem;

    color: #FFFFFF;
  }

  p.links {
    text-align: center;

    a {
      color: #FFFFFF;
      -webkit-transition: color .75s ease-in-out;
      transition: color .75s ease-in-out;
      font-size: 10rem;
      font-family: 'Mono Social Icons Font';
      text-decoration: none;

      &:visited {
      }

      &:hover {
        color: #FF3300;
        text-decoration: none;
      }
    }
  }
}
