@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v7/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasc/v4/-74JUGs8W14C5cCBFRS304bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya SC Black'), local('AlegreyaSC-Black'), url(http://themes.googleusercontent.com/static/fonts/alegreyasc/v4/M9OIREoxDkvynwTpBAYUq0ExzZ44ka2Lr5i-x5aWr0E.woff) format('woff');
}

@font-face {
  font-family: 'IM Fell French Canon';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL French Canon Roman'), local('IM_FELL_French_Canon_Roman'), url(http://fonts.gstatic.com/s/imfellfrenchcanon/v5/iKB0WL1BagSpNPz3NLMdsIv9fdI3y3eabv7dpXnXct0.woff) format('woff');
}

@font-face {
  font-family: 'IM Fell French Canon';
  font-style: italic;
  font-weight: 400;
  src: local('IM FELL French Canon Italic'), local('IM_FELL_French_Canon_Italic'), url(http://fonts.gstatic.com/s/imfellfrenchcanon/v5/owCuNQkLLFW7TBBPJbMnhYt8sjKkzfuoD5ea_dlAUSQ.woff) format('woff');
}
